body {
    display: flex;
    flex-direction: column;
    align-items: center; 
}


#list {
    display: flex;
    flex-direction: column;
    border: 5px solid red;
    width: 50rem;
    height: auto;
    padding: 40px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: aquamarine;
}

#header {
    margin: 10px;
    font-size: 3rem;
}



#addedItemsDiv {
    display: flex;
    flex-direction: column;
    height: auto;
    border: 5px solid rgb(255, 0, 0);
    border-radius: 0.6rem;
    width: 30rem;
    font-size: 30px;
    background-color: green;
    align-items: center;


}

#addedItems {
    text-align: left;
    width: auto;
    overflow-wrap: anywhere;
    height: auto;
    
}

#yourItem {
    padding: 30px;
}

#yourInput {
    font-size: 2rem;
    width: 40rem;
    overflow-wrap: anywhere;
    border-radius: 0.6rem;
}

#addButton {
    font-size: 2rem;
    margin: 3rem;
    background: linear-gradient(rgb(0,255,138),rgb(0,166,138));
    color: red;
    border-radius: 30rem;
    border: none;
    box-shadow: 0rem 0rem 2rem 0.1rem crimson;
    cursor: pointer;
}

.removeButton {
    margin-right: 4rem;
    margin-left: 20rem;
    font-weight: bold;
    margin-bottom: 1rem;
    cursor: pointer;
}

#listItem {
    border-bottom: 3px solid red;
    
}

#historyButton {
    border: none;
    background-color: white;
    display: flex;
    position:absolute;
    cursor: pointer;
} 

h1 {
    font-size: 5rem;
    color: crimson;
    
}

.history {
    top: 5rem;
    display: none;
    position: fixed;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    background-color: darkgreen;
  }

  #historyButton {
    font-size: 1.5rem;
    border-radius: 0.6rem;
  }